/* Navigation.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Set the background color of the navbar */
  padding: 10px;
  color: #fff; /* Set the text color to white */
}

.navbar-left {
  display: flex;
  margin-left: 30px;
}

.navbar-left a {
  margin-right: 15px;
  text-decoration: none;
  color: #fff; /* Set the text color to white */
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.registration-icon {
  width: 40px;
  height: 40px;
  background-color: #fff; /* Set the background color of the icon */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
}
